[border-cut="nav-window"]::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.5);
    clip-path: polygon(0 0,calc(100% - 0.80em) 0,100% 0.80em,100% 100%,0.80em 100%,0 calc(100% - 0.80em),0 0,2px  2px ,2px calc(100% - 0.80em - 0.83px),calc(0.80em + 0.83px) calc(100% - 2px),calc(100% - 2px) calc(100% - 2px),calc(100% - 2px) calc(0.80em + 0.83px),calc(100% - 0.80em - 0.83px) 2px,2px 2px);

	}

[border-cut="top-right-bottom-left"]::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.5);
    clip-path: polygon(0 0, calc(100% - 2.00em) 0, 
    100% 2.00em, 100% 100%, 2.00em 100%, 
    0 calc(100% - 2.00em), 0 0, 1px 1px, 1px 
    calc(100% - 2.00em - 0.41px), 
    calc(2.00em + 0.41px) 
    calc(100% - 1px), 
    calc(100% - 1px) 
    calc(100% - 1px), 
    calc(100% - 1px) 
    calc(2.00em + 0.41px), 
    calc(100% - 2.00em - 0.41px) 1px, 1px 1px);
}

  [border-cut="top-right"]::before{
    content: "";
    position: absolute;
    inset: 0;
    background: #8b5cf6;
    clip-path: polygon(0 0,calc(100% - 0.80em) 
    0,100% 0.80em,100% 100%,0 100%,0 0,1px  1px ,1px 
    calc(100% - 1px),calc(100% - 1px) 
    calc(100% - 1px),calc(100% - 1px) 
    calc(0.80em + 0.83px),calc(100% - 0.80em - 0.83px) 1px,1px 1px);
	}
  
  [border-cut="nav-bar"]::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.5);
  	clip-path: polygon(0 0,100% 0,100% calc(100% - 0.80em),calc(100% - 0.80em) 100%,0 100%,0 0,2px  2px ,2px calc(100% - 2px),calc(100% - 0.80em - 0.83px) calc(100% - 2px),calc(100% - 2px) calc(100% - 0.80em - 0.83px),calc(100% - 2px) 2px,2px 2px);
    transition: background 300 ease;
	}
  
  [border-cut="top-right-black"]::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.5);
    clip-path: polygon(0 0,calc(100% - 2.00em) 
    0,100% 2.00em,100% 100%,0 100%,0 0,1px  1px ,1px 
    calc(100% - 1px),calc(100% - 1px) 
    calc(100% - 1px),calc(100% - 1px) 
    calc(2.00em + 0.83px),calc(100% - 2.00em - 0.83px) 1px,1px 1px);
	}
  
  [border-cut="bottom-right-black"]::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(9, 7, 6, 0.2);
  	clip-path: polygon(0 0,100% 0,100% calc(100% - 2.00em),calc(100% - 2.00em) 100%,0 100%,0 0,2px  2px ,2px calc(100% - 2px),calc(100% - 2.00em - 0.83px) calc(100% - 2px),calc(100% - 2px) calc(100% - 2.00em - 0.83px),calc(100% - 2px) 2px,2px 2px);
	} 
  
  [border-cut="bottom-left"]::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.5);
    clip-path: polygon(0 0,100% 0,100% 100%,0.80em 100%,0 
    calc(100% - 0.80em),0 0,1px  1px ,1px 
    calc(100% - 0.80em - 0.83px),calc(0.80em + 0.83px) 
    calc(100% - 1px),calc(100% - 1px) calc(100% - 1px),calc(100% - 1px) 1px,1px 1px);
	} 

  [border-cut="top-and-bottom-about"]::before{
    content: "";
  	position: absolute;
  	inset: 0;
  	background: rgba(255, 255, 255, 0.5);
     clip-path: polygon(
        0 2.00em,2.00em 0,100% 0,100% calc(100% - 2.00em),
        calc(100% - 2.00em) 100%,0 100%,0 2.00em,1px  
        calc(2.00em + 0.41px),1px calc(100% - 1px),
        calc(100% - 2.00em - 0.41px) calc(100% - 1px),
        calc(100% - 1px) calc(100% - 2.00em - 0.41px),
        calc(100% - 1px) 1px,calc(2.00em + 0.41px) 1px,1px calc(2.00em + 0.41px));

  }

  [border-cut="top-and-bottom-purple"]::before{
    content: "";
  	position: absolute;
  	inset: 0;
  	background: #8b5cf6;
     clip-path: polygon(
        0 2.00em,2.00em 0,100% 0,100% calc(100% - 2.00em),
        calc(100% - 2.00em) 100%,0 100%,0 2.00em,1px  
        calc(2.00em + 0.41px),1px calc(100% - 1px),
        calc(100% - 2.00em - 0.41px) calc(100% - 1px),
        calc(100% - 1px) calc(100% - 2.00em - 0.41px),
        calc(100% - 1px) 1px,calc(2.00em + 0.41px) 1px,1px calc(2.00em + 0.41px));

  }

  [border-cut="top-left-angled"]::before {
    content: "";
  	position: absolute;
  	inset: 0;
  	background: rgba(255, 255, 255, 0.5);
     clip-path: polygon(
        0 2.00em,2.00em 0,100% 0,100% calc(100% - 2.00em),
        calc(100% - 2.00em) 100%,0 100%,0 2.00em,1px  
        calc(2.00em + 0.41px),1px calc(100% - 1px),
        calc(100% - 2.00em - 0.41px) calc(100% - 1px),
        calc(100% - 1px) calc(100% - 2.00em - 0.41px),
        calc(100% - 1px) 1px,calc(2.00em + 0.41px) 1px,1px calc(2.00em + 0.41px));
}


  [border-cut="bottom-left-purple"]::before{
    content: "";
    position: absolute;
    inset: 0;
    background: #8b5cf6;
    clip-path: polygon(0 0,100% 0,100% 100%,0.80em 100%,0 
    calc(100% - 0.80em),0 0,1px  1px ,1px 
    calc(100% - 0.80em - 0.83px),calc(0.80em + 0.83px) 
    calc(100% - 1px),calc(100% - 1px) 
    calc(100% - 1px),calc(100% - 1px) 1px,1px 1px);
	} 

  [border-cut="bottom-left-black"]::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.5);
    clip-path: polygon(0 0,100% 0,100% 100%,2.00em 100%,0 
    calc(100% - 2.00em),0 0,1px  1px ,1px 
    calc(100% - 2.00em - 0.83px),calc(2.00em + 0.83px) 
    calc(100% - 1px),calc(100% - 1px) 
    calc(100% - 1px),calc(100% - 1px) 1px,1px 1px);
} 


  
  [client-border]::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(9, 7, 6, 0.2);
  	clip-path: polygon(0 0,100% 0,100% calc(100% - 0.00em),calc(100% - 0.00em) 100%,0 100%,0 0,2px  2px ,2px calc(100% - 2px),calc(100% - 0.00em - 0.83px) calc(100% - 2px),calc(100% - 2px) calc(100% - 0.00em - 0.83px),calc(100% - 2px) 2px,2px 2px);

	} 
  
  [corner-cut="top-right"]{
  	clip-path: polygon(0 0,calc(100% - 0.80em) 0,100% 0.80em,100% 100%,0 100%);
  }
  
  [corner-cut="bottom-right"]{
    clip-path: polygon(0 0,100% 0,100% calc(100% - 0.80em),calc(100% - 0.80em) 100%,0 100%);
  }  
  
  [corner-cut="top"]{
  	clip-path: polygon(0 2.00em,2.00em 0,calc(100% - 2.00em) 0,100% 2.00em,100% 100%,0 100%);
  }
  
  [corner-cut="all"]{
  clip-path: polygon(0 2.00em,2.00em 0,calc(100% - 2.00em) 0,100% 2.00em,100% calc(100% - 2.00em),calc(100% - 2.00em) 100%,2.00em 100%,0 calc(100% - 2.00em));
  }
  
  [corner-cut="project-slide"]{
  clip-path: polygon(0 0,calc(100% - 2.00em) 0,100% 2.00em,100% 100%,2.00em 100%,0 calc(100% - 2.00em));
  }  
  
  [corner-cut="cursor"]{
  clip-path: polygon(0 0.80em,0.80em 0,100% 0,100% calc(100% - 0.80em),calc(100% - 0.80em) 100%,0 100%);
  }  
  
  [border-cut="project-line"]::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.5);
  clip-path: polygon(0 0,calc(100% - 2.00em) 0,100% 2.00em,100% 100%,2.00em 100%,0 calc(100% - 2.00em),0 0,2px  2px ,2px calc(100% - 2.00em - 0.83px),calc(2.00em + 0.83px) calc(100% - 2px),calc(100% - 2px) calc(100% - 2px),calc(100% - 2px) calc(2.00em + 0.83px),calc(100% - 2.00em - 0.83px) 2px,2px 2px);
  }
  
  [border-cut="top-left-bottom-right"]::before{
    content: "";
  	position: absolute;
  	inset: 0;
  	background: rgba(255, 255, 255, 0.5);
     clip-path: polygon(0 2.25em,2.25em 0,100% 0,100% 
     calc(100% - 2.25em),calc(100% - 2.25em) 100%,0 100%,0 2.25em,1px  
     calc(2.25em + 0.41px),1px calc(100% - 1px),calc(100% - 2.25em - 0.41px) 
     calc(100% - 1px),calc(100% - 1px) 
     calc(100% - 2.25em - 0.41px),calc(100% - 1px) 1px,calc(2.25em + 0.41px) 1px,1px 
     calc(2.25em + 0.41px));

  }

  

  [border-cut="top-left"]::before {
    content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.5);
  clip-path: polygon(0px 2.25em, 2.25em 0px, 100% 0px, 100.00% 498px, 392px 100%, 0px 100%, 0px 2.25em, 1px calc(2.25em + 0.41px), 1px calc(100% - 1px), calc(100% - 2.25em - 0.41px) calc(100% - 1px), calc(100% - 1px) calc(100% - 2.25em - 0.41px), calc(100% - 1px) 1px, calc(2.25em + 0.41px) 1px, 1px calc(2.25em + 0.41px));
}

  
  [border-cut="footer-btm"]::before{
    content: "";
  	position: absolute;
  	inset: 0;
  	background: rgba(255, 255, 255, 0.5);
    clip-path: polygon(0 0,calc(100% - 2.00em) 
    0,100% 2.00em,100% 100%,2.00em 100%,0 
    calc(100% - 2.00em),0 0,1px  1px ,1px 
    calc(100% - 2.00em - 0.41px),calc(2.00em + 0.41px) 
    calc(100% - 1px),calc(100% - 1px) 
    calc(100% - 1px),calc(100% - 1px) 
    calc(2.00em + 0.41px),calc(100% - 2.00em - 0.41px) 1px,1px 1px);

  }
